@model PartyInvites.Models.GuestResponse

@{
    ViewBag.title = "RsvpForm";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.title</title>

    <meta name="description" content="RsvpForm" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!--[if IE 7]>
      <link href="~/Content/css/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->
    <link href="~/Content/css/ace.min.css" rel="stylesheet" />
    <link href="~/Content/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/css/ace-skins.min.css" rel="stylesheet" />
    <!--[if lte IE 8]>
      <link href="~/Content/css/ace-ie.min.css" rel="stylesheet" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <!-- ace settings handler -->

    <script src="~/Content/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>      
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        <div class="main-container-inner">

                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            @Html.ActionLink("HOME", "Index")
                        </li>
                        <li class="active">GuestResponse</li>
                    </ul><!-- .breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- #nav-search -->
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <br />
                        @Html.ValidationSummary(true)  @{//true:不集中显示错误信息
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-3 no-padding-right" })
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3 no-padding-right" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Email, new { @class = "col-xs-1" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-sm-3 no-padding-right" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Phone)
                                @Html.ValidationMessageFor(model => model.Phone)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.WillAttend, new { @class = "control-label col-sm-3 no-padding-right" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.WillAttend)
                                @Html.ValidationMessageFor(model => model.WillAttend)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-info">
                                    <i class="icon-ok bigger-110"></i>
                                    Create
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                }


        </div>
     </div>

        <!-- basic scripts -->
        <!--[if !IE]> -->

        <script src="~/Content/js/jquery-2.0.3.min.js"></script>

        <!-- <![endif]-->
        <!--[if IE]>
        <script src="~/Content/js/jquery-1.10.2.min.js"></script>
        <![endif]-->
        <!--[if !IE]> -->

        <script type="text/javascript">
            window.jQuery || document.write("<script src='~/Content/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        </script>

        <!-- <![endif]-->
        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='~/Content/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if ("ontouchend" in document) document.write("<script src='~/Content/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/typeahead-bs2.min.js"></script>

        <!-- page specific plugin scripts -->
        <!--[if lte IE 8]>
          <script src="~/Content/js/excanvas.min.js"></script>
        <![endif]-->
        
        <script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/Content/js/chosen.jquery.min.js"></script>
        <script src="~/Content/js/fuelux/fuelux.spinner.min.js"></script>
        <script src="~/Content/js/jquery.knob.min.js"></script>
        <script src="~/Content/js/jquery.autosize.min.js"></script>
        <script src="~/Content/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="~/Content/js/jquery.maskedinput.min.js"></script>
        <script src="~/Content/js/bootstrap-tag.min.js"></script>

        <!-- ace scripts -->

        <script src="~/Content/js/ace-elements.min.js"></script>
        <script src="~/Content/js/ace.min.js"></script>

</body>
</html>
